<div class="form-title">
  <h3>Contact me? Please fill this form!</h3>
</div>

<form class="form-horizontal">
  <div class="container">
    <div class="form-group">
      <label for="name" class="control-label col-sm-3">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="control-label col-sm-3">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" placeholder="email">
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNum" class="control-label col-sm-3">Phone Number</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="phoneNum" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="control-label col-sm-3">Message</label>
      <div class="col-sm-6">
        <textarea class="form-control" id="message" placeholder="Message"></textarea>
        <button class="btn btn-primary">Send</button>
      </div>
    </div>

  </div>
</form>
